[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "argparser"]
	path = argparser
	url = https://bitbucket.org/djhshih/argparser
[submodule "dppmix"]
	path = dppmix
	url = https://bitbucket.org/djhshih/dppmix
[submodule "filenamer"]
	path = filenamer
	url = https://bitbucket.org/djhshih/filenamer
[submodule "io"]
	path = io
	url = https://bitbucket.org/djhshih/io
